@model CoBookGallery.Models.CoBook[]



@{
    ViewBag.Title = "Co Books";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var coBook in Model)
    {
        <div class="col-md-3">
            <h4>@coBook.DisplayText</h4>
            <img src="/Images/@coBook.CoverImageFileName"
                 alt="@coBook.DisplayText"
                 class="img-responsive" />
        </div>


    }

</div>